.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
a {
    color: black;
    text-decoration: none;
}

.btn-group button {
    background-image: radial-gradient(
    orange 30%,
    white 9%
    );
    display: inline-block;
    border: none;
    border-radius: 15px;
    padding: 15px 25px;
    font-size: 14px;
    margin: 10px;
    box-shadow: 0 7px #999;
    border-color: black;
    color: black;
} 
.btn-group button:hover {
    background: black;
}
.btn-group button:active {
    background-color: black;
    transform: translateY(4px);
    box-shadow: 0 5px #666;
}