.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.box {
	
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
	font-weight: 900;
}
a {
    color: black;
    text-decoration: none;
}
.btn-group button {
    background-color: blue;
    background-image: linear-gradient(
        to right,
        blue 33%,
        white 60%,
        red 33%
    );
    display: inline-block;
    border: none;
    border-radius: 15px;
    padding: 15px 25px;
    font-size: 14px;
    margin: 10px;
    box-shadow: 0 7px #999;
} 
.btn-group button:hover {
    background-color: blue;
}
.btn-group button:active {
    background-color: blue;
    transform: translateY(4px);
    box-shadow: 0 5px #666;
}
.older {
    list-style: none;
    margin: 0 auto;
    width: 660px;
    counter-reset: li;
  }
  .older li {
    border-bottom: dashed 1px #006699;
    margin-top: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 5px;
  }
  .older a {
    text-decoration: none;
    padding: 10px;
    display: block;
    line-height: 30px;
    color: #3A3A3A;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
  }
  .older a:before {
    display: inline-block;
   
    height: 30px;
    width: 30px;
    text-align: center;
    border: solid 1px #dedede;
    margin-right: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
    font-family: 'Fredericka the Great', cursive;
    font-size: 24px;
    -webkit-transition: .4s linear;
    transition: .4s linear;
  }
  .older a:hover:before {
    color:#D72F2C;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
.category-list * {transition: .4s linear;}
.category-list {
  background: white;
  list-style-type: circle blue;
  list-style-position: inside;
  padding: 0 10px;
  margin: 0;
  }
.category-list li {
  font-family: "Trebuchet MS", "Lucida Sans";
  border-bottom: 1px solid #efefef;
  padding: 10px 0;
  color: blue;
}
.category-list a {
  text-decoration: none;
  color: red;
}
